<div class="contents row">
<h2>芸人プロフィール登録の方へ</h2>
  <p>下記のフォーマットを個人毎に記入して、登録してください。</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, placeholder:"あなたのメールアドレス", autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> ケタ以上にしてください)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder:"8ケタ以上の任意パスワード", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :パスワード確認 %><br />
    <%= f.password_field :password_confirmation, placeholder:"上で設定したパスワード", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :芸名 %><br />
    <%= f.text_field :name, placeholder:"芸名太郎", autocomplete: "off"  %>
  </div>

  <div class="field">
    <%= f.label :担当 %><br />
    <%= f.text_field :tanto, placeholder:"ボケ・ツッコミなど", autocomplete: "off"  %>
  </div>

  <div class="field">
    <%= f.label :性別 %><br />
    <%= f.text_field :sex, placeholder:"男", autocomplete: "off"  %>
  </div>

  <div class="field">
    <%= f.label :生年月日 %><br />
    <%= f.text_field :birthday, placeholder:"1990年1月1日", autocomplete: "off"  %>
  </div>

  <div class="field">
    <%= f.label :身長cm／体重kg %><br />
    <%= f.text_field :heightweight, placeholder:"180cm/70kg", autocomplete: "off"  %>
  </div>

  <div class="field">
    <%= f.label :血液型 %><br />
    <%= f.text_field :blood, placeholder:"A型", autocomplete: "off"  %>
  </div>

  <div class="field">
    <%= f.label :出身地 %><br />
    <%= f.text_field :graduate, placeholder:"東京都", autocomplete: "off"  %>
  </div>

  <div class="field">
    <%= f.label :趣味 %><br />
    <%= f.text_field :hobby, placeholder:"スポーツ全般/写真", autocomplete: "off"  %>
  </div>

  <div class="field">
    <%= f.label :養成所 %><br />
    <%= f.text_field :school, placeholder:"東京NSC18期", autocomplete: "off"  %>
  </div>

  <div class="field">
    <%= f.label :デビュー %><br />
    <%= f.text_field :debut, placeholder:"2009年4月", autocomplete: "off"  %>
  </div>

  <div class="field">
    <%= f.label :TwitterIDがあればIDを打ち込んでください %><br />
    <%= f.text_field :twitter, placeholder:"hayateito", autocomplete: "off"  %>
  </div>

  <br>
  <div class='form-combination'>
    <%= f.label :コンビ名・トリオ名・ピン名（全角・半角に注意してコンビ間で同じものを記入してください。） %><br />
    <%= f.text_field :combination_key, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>

  <%= javascript_tag do %>
    window.combination_id = 0;
<% end %>