<p id="notice"><%= notice %></p>

<h1>Listing Calevents</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start</th>
      <th>End</th>
      <th>Color</th>
      <th>Allday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calevents.each do |calevent| %>
      <tr>
        <td><%= calevent.title %></td>
        <td><%= calevent.start %></td>
        <td><%= calevent.end %></td>
        <td><%= calevent.color %></td>
        <td><%= calevent.allDay %></td>
        <td><%= link_to 'Show', calevent %></td>
        <td><%= link_to 'Edit', edit_calevent_path(calevent) %></td>
        <td><%= link_to 'Destroy', calevent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calevent', new_calevent_path %>
